*{

  margin: 0;
  padding: 0;

}


  body {
    height: auto;
    background: linear-gradient(to right bottom, #49a09d, #8ab0cf);
    background-repeat: no-repeat;
    background-attachment: fixed;
      font-family: sans-serif;
      font-weight: 100;
  }
  .container {
    position: absolute;
    width: 100%;
      top: 10%;
      left: 0%;
  
}
i{
  color: #fff;
}
h1,h2,h3,h4{
  color: #fff;
}
.container{
  margin-bottom: 10px ;
}
